.App {
	display: grid;
	grid-template-columns: 2fr 1fr; /* 2 parts for the map, 1 part for the sidebar */
	grid-template-rows: 100%; /* Full height for both sections */
	height: 100vh; /* Full viewport height */
	width: 100vw; /* Full viewport width */
}

.map-section {
	grid-column: 1; /* Map occupies the first column */
	grid-row: 1; /* Occupies the full height */
	height: 100vh; /* Ensures the map stretches properly */
}

.planner-section {
	grid-column: 2; /* Planner occupies the second column */
	grid-row: 1; /* Occupies the full height */
	background-color: #edecec;
	padding: 20px;
	overflow-y: auto; /* Allow scrolling for content overflow */
	height: 100vh; /* Ensure full height */
}

.tour-item:hover {
	transform: scale(1.05);
}